<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2>Registration Form</h2>
      <form
        action="#"
        #simpleForm="ngForm"
        (ngSubmit)="getValue(simpleForm.value)"
      >
        <div>
          <label>Name :</label>
          <input
            type="text"
            placeholder="Enter Your Name"
            required
            name="Name"
            ngModel
            oninput="this.value = this.value.replace(/[^A-Za-z. ]/g, '');"
            required
          />
        </div>
        <div>
          <label>Class : </label>
          <input
            type="number" class="num"
            action=""
            placeholder="Enter Your Class"
            maxlength="2"
            min="1"
            max="12"
            name="Class"
            ngModel
            
            required
          />
        </div>
        <div>
          <label>Rollno.: </label>
          <input
            type="text"
            placeholder="Enter Your RollNo"
            name="Rollno"
            ngModel
            oninput="this.value = this.value.replace(/[^0-9.]/g, '')"
            maxlength="2"
            required
          />
        </div>
        <div>
          <label>Phone :</label>
          <input
            type="text"
            placeholder="Enter Your PhoneNo"
            name="Phone"
            ngModel
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            maxlength="10"
            required
          />
        </div>

        <button class="btn" >Submit</button>
        <input type="reset" class="btn1" />

        <!-- <input type="text" name="firstName" ngModel pattern="[a-zA-Z ]*"> -->
      </form>

      <p>Name : {{ name }}</p>
      <p>Class : {{ class }}</p>
      <!-- <p *ngIf="class<=12">Class : {{class}}</p> -->

      <p>RollNo : {{ rollno }}</p>

      <p>PhoneNo : {{ phone }}</p>
    </div>
  </body>
</html>
